VITE_TRACKING_API_URL=https://seu-endpoint-da-api/tracking/ocorrencias
VITE_TRACKING_API_USER=seu_usuario
VITE_TRACKING_API_PASSWORD=sua_senha
VITE_TRACKING_API_TOKEN=seu_token
VITE_TRACKING_API_COMPROVANTE=1
